<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
</head>
<body>
<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-4">
    <div class="container-fluid">
        <span class="nav-link active text-white font-weight-bold fs-3">biblioteca</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/}">Home</a>
                    <a class="navbar-brand" th:href="@{/formularioLibro}">Libros</a>
                    <a class="navbar-brand" th:href="@{/formularioAutor}">Autores</a>
                    <a class="navbar-brand" th:href="@{/formularioUsuario}">Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>